<!DOCTYPE html>
<html>
<head>
    <title>About SafeHer AI</title>

    <link rel="stylesheet"
    href="{{ url_for('static', filename='style.css') }}">
</head>

<body class="auth-page">

<div class="account-container">

    <h2>ℹ️ About SafeHer AI</h2>

    <p>
        SafeHer AI is an AI-powered women safety platform designed to
        provide quick emergency assistance and smart protection.
    </p>

    <hr>

    <p>🚨 SOS Emergency Alerts</p>

    <p>📍 Live Location Tracking</p>

    <p>🤖 AI Safety Monitoring</p>

    <p>🎤 Voice Activated SOS</p>

    <p>👨‍👩‍👧 Guardian Notifications</p>

    <p>🛡 Smart Safety Features</p>

    <hr>

    <h3>Version 1.0</h3>

    <p>
        Developed by
        <b>Sakshi &  Vaishnavi</b>
    </p>

    <!-- <p>
      we were here to protect you.
    </p> -->

    <a href="/settings"
    class="back-btn">

        ⬅ Back to Settings

    </a>

</div>

</body>
</html>